@import "colors";
@import "media-queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $light;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5em calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

  &__logo {
    letter-spacing: 10px;
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
    transition: all 0.3s ease;
  }

  &__logo:hover {
    color: $lime;
  }

  &__bars {
    opacity: 0;

    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }

    i {
      cursor: pointer;
    }
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    &--links {
      color: $dark;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
      transition: all 0.3s ease;

      &:hover {
        color: $lime;
      }

      @include tablet {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    #button {
      padding: 12px 24px;
      border: none;
      outline: none;
      border-radius: 5px;
      background: $lime;
      margin-left: 16px;
      color: $light;

      &:hover {
        background-color: $orangeRed;
        transition: all 0.3s ease;
      }

      @include tablet {
        color: $dark;
      }
    }

    @include tablet {
      margin: 80px 0px 0px 0px;
      position: absolute;
      right: 0px;
      height: calc(100vh - 80px);
      background-color: $lime;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }
}
